<h1 class="text-center">TWEETER</h1>
  <div class="container p-5 ">
    <%= link_to 'Crear un nuevo Tweet', new_tweet_path, class:"btn btn-dark pl-6 ml-5" if user_signed_in? %>
  </div>
    <div class="container p-5 mb-2 bg-light text-dark">
      <%= paginate @tweets %>
      <% @tweets.each do |tweet| %>
      <div class="media rounded border border-info m-4">
        <img class="m-3 rounded border border-info" src="<%= tweet.user.img_user %> " alt="image_user" style="weigth: 70px; height: 70px;">
        <div class="media-body">
        <h5 class="m-2"><%= tweet.user.user_name %></h5>
        <p class=""><%= tweet.contents %></p>
        <h5><%= link_to "Tweeted #{time_ago_in_words(tweet.created_at)} ago ", tweet %></h5>
<br>
        <% if tweet.user == current_user %>
        <div class="my-3">
         
        <span class="mx-2"><%= form_with(model: Tweet.new) do |form| %>
        <%= form.submit 'Crear Tweet', class:"btn btn-dark"%>
        <%= link_to 'Retweet', new_tweet_path, class:"btn btn-dark pl-6 ml-5" if user_signed_in? %></span>
       
        <% end %>
       
        
        <span class="mx-2"><%= link_to 'Eliminar', tweet,class:"btn btn-danger pl-6 ml-3", method: :delete, data: { confirm: 'Estas seguro?' } %></span>
        <span class="mx-2"><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes'%></span>
        <span>Retweets:<%= tweet.retweets_for_me.count %> </span>
        
        <% end %>
        
      </div>
    </div>
  </div>
    <% end %>
  <span><%= paginate @tweets %></span>
    
</div>

